body {
    outline : none;
    -webkit-outline : none;
    -moz-outline : none;
    -ms-outline : none;
    -o-outline : none;
    
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.page-heading{
    text-align: center;
    padding:20px;
    color:whitesmoke;
    font-weight: bolder;
    margin-top:20px;
}


.page2-heading{
    text-align: center;
    padding:10px;
    color:whitesmoke;
    font-weight: bolder;
    margin-top:20px;
}

.card-text{
    padding:5px;
    font-size:20px;
}


.card{
    text-align: center;
    width: 60%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left:200px
}


@media only screen and (max-width: 768px) {
    
.card{
    text-align: center;
    width: 80%;
    height: 50%;
    margin-top:10px;
    margin-left:30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
}


.tab-content{
    padding-bottom: 100px;
    
}



 .form-control {
    box-shadow: none !important;
    resize: none !important;
}


 form{
     outline: none;
 }

 .dropdown-item :active{
     background-color: gainsboro;
 }

 .addpr{
    margin-left: 450px;

}

@media only screen and (max-width: 600px){
    .addpr{
        margin-left: 80px;
    
    }
 }

@media only screen and (min-width: 600px){
    .addpr{
        margin-left: 200px;
    
    }
 }


 @media only screen and (min-width: 768px){
    .addpr{
        margin-left: 250px;
    
    }
 }

 @media only screen and (min-width: 992px){
    .addpr{
        margin-left: 350px;
    
    }
 }

 @media only screen and (min-width: 1200px){
    .addpr{
        margin-left: 450px;
    
    }
 }


 .prcard{
    width:18rem;
 }

 @media only screen and (min-width: 768px){
    .prcard{
        width:70%;
        margin-left: 100px;
    }
 }


 @media only screen and (min-width: 992px){
    .prcard{
        width:65%;
    }
 }

 @media only screen and (min-width: 1200px){
    .prcard{
        width:40%
    }
 }




 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar h2 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 25px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  .profilepic{
      border-radius: 50%;
      border-color: gainsboro;
      background-color: gainsboro;
      height: 50px;
      width: 50px;
      display: inline-block;
      margin-left: 50px;
      padding:50px;
      transition: 0.3s;
  }


  
 

 