body {
    outline : none;
    -webkit-outline : none;
    -moz-outline : none;
    -ms-outline : none;
    -o-outline : none;
    
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.page-heading{
    text-align: center;
    padding:20px;
    color:whitesmoke;
    font-weight: bolder;
    margin-top:20px;
}


.page2-heading{
    text-align: center;
    padding:10px;
    color:whitesmoke;
    font-weight: bolder;
    margin-top:20px;
}

.card-text{
    padding:5px;
    font-size:20px;
}


.card{
    text-align: center;
    width: 60%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left:200px
}


@media only screen and (max-width: 768px) {
    
.card{
    text-align: center;
    width: 80%;
    height: 50%;
    margin-top:10px;
    margin-left:30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
}


.tab-content{
    padding-bottom: 100px;
    
}



 .form-control {
    box-shadow: none !important;
    resize: none !important;
}


 form{
     outline: none;
 }

 .dropdown-item :active{
     background-color: gainsboro;
 }

 .addpr{
    margin-left: 450px;

}

@media only screen and (max-width: 600px){
    .addpr{
        margin-left: 80px;
    
    }
 }

@media only screen and (min-width: 600px){
    .addpr{
        margin-left: 200px;
    
    }
 }


 @media only screen and (min-width: 768px){
    .addpr{
        margin-left: 250px;
    
    }
 }

 @media only screen and (min-width: 992px){
    .addpr{
        margin-left: 350px;
    
    }
 }

 @media only screen and (min-width: 1200px){
    .addpr{
        margin-left: 450px;
    
    }
 }


 .prcard{
    width:18rem;
 }

 @media only screen and (min-width: 768px){
    .prcard{
        width:70%;
        margin-left: 100px;
    }
 }


 @media only screen and (min-width: 992px){
    .prcard{
        width:65%;
    }
 }

 @media only screen and (min-width: 1200px){
    .prcard{
        width:40%
    }
 }

 

 